<div class="house-show margin-top-negative">
  <div class="row">
    <div class="col-10">

      <% if @hauntedhouse.photo.attached? %>
          <div class="house-card" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path @hauntedhouse.photo.key %>');">
            <div class="house-description">
              <h1><%= @hauntedhouse.name %></h1>
              <h2><%= @hauntedhouse.country %></h2>
              <p><%= @hauntedhouse.address %>, <%= @hauntedhouse.city %></p>
            </div>
          </div>
       <% else %>
          <div class="house-card" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('https://www.businessnhmagazine.com/UploadedFiles/Articles/8151/66581491_m.jpg');">
            <div class="house-description">
              <h1><%= @hauntedhouse.name %></h1>
              <h2><%= @hauntedhouse.country %></h2>
              <p><%= @hauntedhouse.address %>, <%= @hauntedhouse.city %></p>
            </div>
          </div>
      <% end %>


      <div class="hauntedhouse-show-card">
        <h3>Quelques détails sur l'histoire de cette demeure</h3>
        <p><%= @hauntedhouse.description %></p>
        <h3>Détails</h3>
        <p>Prix à la nuit : <%= @hauntedhouse.price_per_night %>€</p>
          <p>Catégorie : <%= @hauntedhouse.category %></p>
          <p align="center"><%= link_to "Réservez votre séjour", new_hauntedhouse_journey_path(@hauntedhouse), class: "btn btn-dark" %></p>
        <p align="right"><%= link_to "Retour", hauntedhouses_path %> | <%= link_to "Modifier", edit_hauntedhouse_path(@hauntedhouse) %></p>


      </div>
    </div>

   <!-- <div class="col-4">
      <div class="hauntedhouse-show-card">

        <form action="">
        <div class="form">

        <p>A remplacer par le formulaire journeys</p>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">From : </span>
            <input type="text" class="form-control" placeholder="25/11/2020" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">To : </span>
            <input type="text" class="form-control" placeholder="03/12/2020" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          </div>

          <input type="submit" value="Book" class="btn btn-dark" style="width: 100%">
        </form>
      </div>
      <div class="hauntedhouse-show-card">
        <h3>Details</h3>
        <div class="flex">
          </div>

            <p>Price per night : <%= @hauntedhouse.price_per_night %>€</p>
            <p>Category : <%= @hauntedhouse.category %></p>
      </div> -->

    </div>
  </div>
</div>
