<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">

<%# <%= cl_image_path @hauntedhouse.photo.key, crop: :fill %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('https://images.squarespace-cdn.com/content/v1/5a57ce94e9bfdfbcdf1ec75a/1550089796389-9CMHTEO6WLZZ1UAYBEWP/ke17ZwdGBToddI8pDm48kC68kOpRKJJmPVnKbiUp9MZ7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0hGaawTDWlunVGEFKwsEdnHyUYdwUpr8tN8OjEPIfCXrpi4XLMzYgU6MGsyQLSt9YQ/Loftus+hall+Daytime+%283%29.jpg?format=2500w');">
  <div class="container">
    <h1><%= @hauntedhouse.name %></h1>
    <h2><%= @hauntedhouse.country %></h2>
    <p><%= @hauntedhouse.address %>, <%= @hauntedhouse.city %></p>   
  </div>
</div>

      
      <div class="hauntedhouse-show-card">
        <h3>A bit more about this hauntedhouse...</h3>
        <p><%= @hauntedhouse.description %></p>
        <p><%= link_to "Back", hauntedhouses_path %></p>
        <p><%= link_to "Edit", edit_hauntedhouse_path(@hauntedhouse) %></p>
      </div>
    </div>

    <div class="col-4">
      <div class="hauntedhouse-show-card">

        <form action="">
        <div class="form">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">From : </span>
            <input type="text" class="form-control" placeholder="25/11/2020" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">To : </span>
            <input type="text" class="form-control" placeholder="03/12/2020" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          </div>
          
          <input type="submit" value="Book" class="btn btn-dark" style="width: 100%">
        </form>
      </div>
      <div class="hauntedhouse-show-card">
        <h3>Details</h3>
        <div class="flex">          
          </div>
     
            <p>Price per night : <%= @hauntedhouse.price_per_night %>€</p> 
            <p>Number of ghosts : at least 3</p>
            <p>Demonic presence : not known</p> 
      </div>

    </div>
  </div>
</div>