<h1>Yours Journeys</h1>
<div class = "col-4">
<% @journeys.each do |journey| %>
<% hauntedhouse = Hauntedhouse.find(journey.hauntedhouse_id) %>

<% if hauntedhouse.photo.attached? %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3),
          rgba(0,0,0,0.3)), url('<%= cl_image_path hauntedhouse.photo.key, height: 300, width: 400, crop: :fill %>')">
            <p> <%= link_to hauntedhouse.name, hauntedhouse_path(hauntedhouse) %></p>
             </div>
 <% end %>
<br>
Check-in :
<%= journey.checkin %><br/>
Check-out :
<%= journey.checkout %><br/>
Price :
<%= journey.price %>€<br/>
<%= link_to "Cancel this reservation", journey_path(journey), method: :delete, data: { confirm: "Are you sure ?" } %>
<br>
<% end %>
</div>

